{% extends 'inicio.html' %}
<!-- Content section-->
{% block contenidoQueCambia %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Tuki Tuki Motors</h2>
                <p class="lead">Empresa dedicada a la prestación de vehiculos motorizados.</p>
                <p class="mb-0">Fundada por su gerente genral Tuki Tuki.</p>
            </div>
        </div>
    </div>
</section>
{% endblock contenidoQueCambia %}