{% extends 'inicio.html' %}
{% block contenidoQueCambia %}
<h3> Listar Vehiculos</h3>
<table style="border-color: black;"></table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Patente</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Año</th>
            <th>Arrendado</th>
        </tr>
        <br>
    </thead>
    </thead>
    <tbody>
        {%if vehiculos_context%}
            {%for v in vehiculos_context%}
            <tr>
                <td>{{v.id}}</td>
                <td>{{v.patente}}</td>
                <td>{{v.marca}}</td>
                <td>{{v.tipo}}</td>
                <td>{{v.anio}}</td>
                <td>{{v.arrendado}}</td>
                <br>
            </tr>
            {%endfor%}
        {%else%}
            <h1>No hay registros de vehiculos, estamos pobres</h1>
        {%endif%}
    </tbody>
</table>
{% endblock contenidoQueCambia %}